<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <title>🗃️FileUploader</title>
</head>
<body>
  <div class="logo"><a href="/">FileUploader🗃️</a></div>
  <% if (locals.user) {%>
    <a class="logout" href="/log-out">LOG OUT</a>
    <h2 class="logged">Welcome <span><%= user.username %></span>,</h2>
    <div class="files-container">
      <p class="filename-heading"><strong> Saved Files </strong></p>
    </div>
    <% if (user.files.length > 0){ %>
      <% user.files.map((file) => {%>
        <div class="files-container">
          <p class="filename"><%= file.name %></p>
          <div>
            <form action="/<%= user.id %>/view/<%= file.id %>" method="get">
              <button class="view-file">View File</button>
            </form>
          </div>
          <div>
            <form action="/<%= user.id %>/delete/<%= file.id %>" method="post">
              <button class="delete-file">Delete File</button>
            </form>
          </div>
          <div>
            <a href="<%= file.url %>" download><button class="download-file">Download</button></a>
          </div>
        </div>
      <% })}; %>
    <div class="upload-file">
      <form action="/<%= user.id %>/uploads" method="post" enctype="multipart/form-data">
        <div class="choose-file">
          <label for="upload">Click to select file(s)</label>
          <input type="file" name="upload" id="upload">
        </div>
        <input type="submit" value="Upload file(s)">
      </form>
    </div>
  <% } else { %>
    <div class="not-logged">
      <h1>Welcome, <br> Please sign in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="Kingsley" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="12345aA!" />
        <button>Log In</button>
      </form>
      <p>No Account? <a href="/sign-up">Sign Up Here</a></p>
    </div>
  <%}%>
</body>
</html>
